<template>
  <FlexboxLayout class="page">
    <ScrollView class="form">
      <GridLayout rows="auto, auto, auto">
        <StackLayout row="0" class="input-field">
          <TextField class="input" hint="Enter name" v-model="form.name"></TextField>
          <TextField class="input" hint="Enter age" v-model="form.age"></TextField>
          <TextField class="input" hint="Enter gender" v-model="form.gender"></TextField>
          <TextField class="input" hint="Enter address" v-model="form.phone"></TextField>
          <Image :src="image" stretch="none"/>
          <Button @tap="btnGet" class="btn btn-primary m-t-20">Find</Button>
          <Button @tap="submit" class="btn btn-primary m-t-20">Submit</Button>
        </StackLayout>
      </GridLayout>
    </ScrollView>
  </FlexboxLayout>
</template>
<script>

import axios from 'axios'
import { APIService } from "../apiService";

import Home from "./Home";

export default {
  data() {
    return {
      image: "https://images.dog.ceo/breeds/lhasa/n02098413_10590.jpg",
      form: {
        name: "Bofa",
        age: "20",
        gender: "M",
        phone: "088823232"
      }
    };
  },
  methods: {
    // submit() {
    //   var myJSON = JSON.stringify(this.form);
    //   console.log(myJSON)
    //   APIService.get("/insert_student"+myJSON).then(doc => {
    //     console.log(doc.data);
    //     // this.image = doc.data.message[0];
    //     this.alert("Saved");
    //   });
    // },

    btnGet() {
      APIService.get("/find_student").then(doc => {
        doc.data.result.forEach(element => {
          
          console.log(element)
        });
        // this.image = doc.data.message[0];
        this.alert("Saved");
      });

      // APIService.get("/find_student").then(doc => {
      //   console.log(doc);
      //   // this.image = doc.data.message[0];
      //   this.alert("Saved");
      // });
    },
    alert(message) {
      return alert({
        title: "APP NAME",
        okButtonText: "OK",
        message: message
      });
    },

    submit() {
          let url = "http://10.0.2.2:3000/insert_student";
          var myJSON = JSON.stringify(this.form);
        axios.post(url+myJSON, {headers : {'X-Requested-With': 'XMLHttpRequest'} })
            .then(re=>{
              console.log(re)
            })
          // APIService.post(url, myJSON)
          //   .then(res => {
          //     console.log(res.data)
          //    })
          //   .catch(err => {
          //     console.log(err);
          //   });
 
    },
  }
};
</script>

<style scoped>
.page {
  align-items: center;
  flex-direction: column;
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
}

.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: #d51a1a;
}

.input-field {
  margin-bottom: 25;
}

.input {
  font-size: 18;
  placeholder-color: #a8a8a8;
}

.input:disabled {
  background-color: white;
  opacity: 0.5;
}

.btn-primary {
  margin: 30 5 15 5;
}

.login-label {
  horizontal-align: center;
  color: #a8a8a8;
  font-size: 16;
}

.sign-up-label {
  margin-bottom: 20;
}

.bold {
  color: #000000;
}
</style>
