<template>
    <Page>
        <ActionBar title="YOUR APP"></ActionBar>
        <Form></Form>
        <!-- <StackLayout>
            <Label class="body m-20" :text="message" textWrap="true"></Label>
            <Button class="btn btn-primary" text="Log out" @tap="logout"></Button>
        </StackLayout> -->
    </Page>
</template>

<script>
    import Login from "./Login";
    import Form from './Form'
    export default {
        components:{
            Form
        },
        data() {
            return {
                message: "You have successfully authenticated. This is where you build your core application functionality."
            };
        },
        methods: {
            logout() {
                this.$backendService.logout();
                this.$navigateTo(Login, {
                    clearHistory: true
                });
            }
        }
    };
</script>

<style>
</style>
